<a href="https://colab.research.google.com/github/Lucianoff/Alura-Machine_Learning-Classificacao_por_tras_dos_panos/blob/main/Machine_Learning_Classifica%C3%A7%C3%A3o_por_tr%C3%A1s_dos_panos1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.naive_bayes import MultinomialNB

porco1=[0,1,0]
porco2=[1,0,0]
porco3=[1,1,0]
cachorro1=[0,0,1]
cachorro2=[1,1,1]
cachorro3=[0,1,1]

treino_x = [porco1, porco2, porco3, cachorro1, cachorro2, cachorro3]
treino_y = [0,0,0,1,1,1]

modelo = MultinomialNB()

modelo.fit(treino_x, treino_y)

misterio1=[1,1,0]
misterio2=[0,0,1]
misterio3=[1,0,1]
misterio4=[0,1,0]
misterio5=[1,1,1]
misterio6=[0,0,0]

teste_x = [misterio1, misterio2, misterio3, misterio4, misterio5, misterio6]
teste_y = [1,1,1,0,1,0]

resultado = modelo.predict(teste_x)
resultado

array([0, 1, 1, 0, 1, 0])

In [ ]:
taxa_de_acerto = modelo.score(teste_x, teste_y)*100
print("Minha taxa de acerto desse modelo é %.2f" % (taxa_de_acerto))

Minha taxa de acerto desse modelo é 83.33

In [ ]:
url=('https://raw.githubusercontent.com/alura-cursos/machine-learning-introducao-a-classificacao/master/acesso.csv')

import pandas as pd
dados = pd.read_csv(url)
dados.head()

   home  como_funciona  contato  comprou
0     1              1        0        0
1     1              1        0        0
2     1              1        0        0
3     1              1        0        0
4     1              1        0        0

In [ ]:
x = dados[['home', 'como_funciona', 'contato']]
y = dados[['comprou']]